<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/KendoUI/kendo.all.min.js"></script>
    <script src="~/Scripts/KendoUI/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/Custom/http-requester.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>
    
    <link href="~/Content/game.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/kendo.black.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.common.min.css" rel="stylesheet" />
</head>
<body>
    <div
        pub-key="pub-c-d65d8479-2b15-4bae-9823-73c9bb019902"
        sub-key="sub-c-bd355e94-04bd-11e3-991c-02ee2ddab7fe"
        ssl="on" origin="pubsub.pubnub.com" id="pubnub">
    </div>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <a href="~/">Kings' Valley</a>
                </p>
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Game", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <script src="http://cdn.pubnub.com/pubnub-3.5.3.js"></script>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>